@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi sitio web</h1>
    <p>Hola desde la integracion continua con Azure y github !!</a>.</p>
</div>
